body {
    margin: 0;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background-color:#1C1C1C;
    ;
}

/* HEADER STYLES */
#header {
    background: #6943FF;
    min-width:550px;
    padding: 33px 0;
}
#header h1 {
    color: #FFFFFF;
    font-size: 1.75rem;
    line-height: 1.35;
    font-weight: 800;
    margin-bottom: 30px;
}

#input-el {
    display: block;
    margin:0 auto;
    width: 120px;
    height: 80px;
    background: transparent;
    border: 2px solid #B295FF;
    font-size: 3.625rem;
    color: #FFFFFF;
    font-weight: 800;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 30px;
}

#convert-btn {
    display: block;
    margin:0 auto;
    padding: 10px 30px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    border-style: none;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
    color: #3D3D3D;
}

/* MAIN STYLES */
#main {
    background-color: #1F2937;
    min-width:550px;
    padding: 25px;
    
}
.quantity-box {
    background-color: #273549;
    padding: 20px 0;
    margin-bottom: 25px;
}

#main h2 {
    color: #CCC1FF;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 20px;
}

#main p {
    color: #FFFFFF;
    font-size: 0.875rem;
}